.data-table {
  margin-top: 10px;
}

.noticeAddImg input {
  margin-top: 5px;
}

.filter-container > div {
  margin-top: 10px;
}

.time-choose-box {
  display: inline-block;
  margin-top: 10px;
}

.time-choose {
  display: flex;
  flex-wrap: wrap;
}
.friendRow>td, .friendRow>th{
  padding:5px!important;
}
