@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './common.scss';
@import './finance.scss';
@import './member.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
  line-height: 24px;
  font-size: 16px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
a:hover {
  text-decoration: none;
}
.clearfix{
  *zoom:1;/*IE/7/6*/
}
.fl{float: left !important;}
.fr{float: right !important;}
.mt25{ margin-top: 25px;}
.clearfix :after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

// main-container global css
.app-container {
  padding: 20px;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}
.el-dialog{
  width: 700px!important;
  @media screen  and (min-width:360px) and (max-width:1024px) {
    width: 100%!important;
  }
}
.el-form-item__label{
  width: 110px!important;
  @media screen  and (min-width:360px) and (max-width:1024px) {
    width: 80px!important;
  }
}
.login-form .el-form-item__content{
  margin-left: 0!important;
}
.el-form-item__content{
  margin-left: 110px!important;
  @media screen  and (min-width:360px) and (max-width:1024px) {
    margin-left: 80px!important;
  }
}
.el-message-box{
  max-width: 100%;
}
.app-main {
  padding: 10px;
}
.w100{
  width:100px;
}
.w180{
  width:180px;
}
.w150{
  width:150px;
}
.w120{
  width:120px;
}
.w180{
  width:180px;
}
.timeBox{
  width:220px !important;
  padding:3px 5px;
}
.el-date-editor .el-range-separator {
  padding: 0 5px;
  width: 12%;
}
.el-button--mini, .el-button--mini.is-round {
  padding: 7px 8px;
}
.el-table td, .el-table th.is-leaf {
  text-align: center;
}
.bet-box .el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #DCDFE6;
  color: #606266;
  width:260px;
}
.el-button.filter-item{
  float: right;
  margin-right: 6px;
  margin-bottom: 7px ;
}
.el-dialog__body {
  padding: 16px 20px;
}
.el-dialog__footer .el-button{
  padding:10px 20px;
}
.sattle-box .el-input {
  width: 400px;
}
// .el-dialog__header {
//   background-color: #304156;
// }
#app .sidebar-container .svg-icon{
  width:1.2rem;
  height:1.2rem;
}
@media screen and (min-width: 1420px){
  .el-button{
    margin: 5px!important;
  }
}
@media screen and (max-width: 768px){
  .el-button{
    margin: 5px!important;
  }
  .el-date-editor{
    width:100%!important;
  }
  .el-range-input{
    font-size: 12px!important;
    width: 100%!important;
  }


  .el-picker-panel{
    top: 0px!important;
    width: 80%!important;
    //overflow: scroll!important;
    //transform: scale(0.9);
  }
  .el-date-range-picker__content.is-left,.el-date-range-picker__content.is-right{
    border-right: none!important;
    width: 100%!important;
  }
  .el-picker-panel__body{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100% !important;
  }
  .el-date-range-picker__time-header{
    width: 100% !important;
    display: flex!important;
    flex-direction: column;
  }
  .centerForm{
    width:100%!important;
  }
}
.centerForm{
  width:60rem;
  margin:3rem auto;
}
.popover-member>.cell{
  height:30px!important;
  overflow: visible!important;
}
.nest-menu{
  height:50px;
}
.upload-loading, .avatar-uploader .el-upload {
  width: 178px;
  height: 178px;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.upload-loading{
  padding-top:60px;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 40px;
  color: #8c939d;
  line-height: 178px;
  text-align: center;
}
.avatar {
  height: 178px;
  width: 178px;
  display: block;
}
.uploadLoading p.el-loading-text{
  font-size:18px;
  color:#fff;
}
.uploadLoading i.el-icon-loading{
  font-size:80px;
  color:#fff;
}
.indexloadLoading p.el-loading-text{
  font-size:18px;
  color:rgba(255,255,255,.8);
}
.indexloadLoading i.el-icon-loading{
  font-size:50px;
  color:rgba(255,255,255,.8);
}
.ql-container>.ql-editor{
  min-height:300px!important;
}
.el-message-box__title{
  text-align: center;
  font-size:16px!important;
}
.finance-btn1{
  background: rgb(0,150,136)!important;
  border-radius:4px!important;
  color:#fff!important;
}
.finance-btn2{
  background: rgb(30,159,255)!important;
  color:#fff!important;
}
.finance-btn3{
  background: rgb(255,87,34)!important;
  color:#fff!important;
}
.finance-btn4{
  border-color:rgb(144, 147, 153)!important;
  color:rgb(144, 147, 153)!important;
}
.finance-btn5{
  background: rgb(255,190,23)!important;
  color:#fff!important;
}
.finance-dis{
  border: 1px solid #e6e6e6!important;
  background-color: #FBFBFB!important;
  color: #C9C9C9!important;
}
.el-table{
  color: #000!important;
}
.uploader-file[status="paused"] .uploader-file-resume {
  //display: none!important;
}
.el-tree-node__label{
  margin-left: 6px;
}
.hover {
  cursor: pointer!important;
  &:hover{
    color: #11A983;
  }
}
.fileTable {
  th{
    text-align: left!important;
  }
  td{
    padding: 0!important;
  }
}
.file-edit .CodeMirror{
  margin-top: 10px;
  height: 700px!important;
  box-shadow: rgba(7, 17, 27, 0.06) 0px 4px 8px 6px;
}
.file-view .CodeMirror{
  height: 600px!important;
  box-shadow: rgba(7, 17, 27, 0.06) 0px 4px 8px 6px;
}
td.name-padding{
  padding-left:20px!important;
  cursor: pointer;
}
.el-button--primary{
  margin:5px 5px 0 0!important;
}
.center{
  text-align: center;
}
.right {
  text-align: right;
}
.el-table{
  margin: 20px auto;
}
